@font-face {
  font-family: Whyte;
  font-style: normal;
  src: url("../fonts/WhyteInktrap-Super.ttf");
  font-display: swap;
}

@font-face {
  font-family: Purplepurse;
  font-style: normal;
  src: url("../fonts/PurplePurse-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: Tiempose;
  font-style: normal;
  src: url("../fonts/Tiempos\ Fine\ Medium.ttf");
  font-display: swap;
}

::selection {
  color: #e2f6ff;
  background: #6be1ff73;
}

.title {
  font-size: 64px;
  font-family: Whyte Inktrap;
  background: linear-gradient(99deg, #FCD1D1 8.35%, #FDA3FF 20.91%, #D1F1FF 40.19%, #C6C1FF 50.55%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.subtitle{
  font-family: Purple Purse;
  font-size: 32px;
  color: #FDA3FF;
}

.aboutsec{
  background:#0a0a0a;

}



.projectsec{
  background:#0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;

}